In [3]:
import pandas as pd

In [30]:
def obtener_amortización(Numero_paneles):
    a = pd.read_csv("../data/Datos de amortización.csv")
    if Numero_paneles ==4:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==2)]
    if Numero_paneles ==5:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==3)]
    if Numero_paneles ==6:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==3)]
    if Numero_paneles ==7:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==4)]
    if Numero_paneles ==8:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==4)]
    if Numero_paneles ==9:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==5)]
    if Numero_paneles ==10:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==5)]
    if Numero_paneles ==11:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==5)]
    if Numero_paneles ==12:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==6)]
    if Numero_paneles ==13:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==6)]
    if Numero_paneles ==14:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==7)]
    if Numero_paneles ==15:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==7)]
    if Numero_paneles ==16:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==8)]
    if Numero_paneles ==17:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==8)]
    if Numero_paneles ==18:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==9)]
    if Numero_paneles ==19:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==9)]
    if Numero_paneles ==20:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==9)]
    if Numero_paneles ==21:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==9)]
    if Numero_paneles ==22:
        return a[(a["Número de paneles"] == Numero_paneles) & (a["Potencia del Inversor"]==9)]

In [31]:
a = obtener_amortización(5)
a

,Número de paneles,Potencia del Inversor,Potencia del Generador Fotovoltaico,Importe del presupuesto,Total (21% IVA incluido),Producción anual,Ahorro anual,Amortización de la inversión
10,5,3,2.25,3343.75 €,4045.94 €,3932 kWh,523 €,8 años

In [27]:
a.columns

Index(['Número de paneles', 'Potencia del Inversor',
       'Potencia del Generador Fotovoltaico', 'Importe del presupuesto',
       'Total (21% IVA incluido)', 'Producción anual', 'Ahorro anual',
       'Amortización de la inversión'],
      dtype='object')

In [29]:
a = pd.read_csv("../data/Datos de amortización.csv")
a

,Número de paneles,Potencia del Inversor,Potencia del Generador Fotovoltaico,Importe del presupuesto,Total (21% IVA incluido),Producción anual,Ahorro anual,Amortización de la inversión
a,0,0,0.0,0,0,0,0,0
0,4,2,1.8,2947.20 €,3566.11 €,3146 kWh,419 €,9 años
1,4,3,1.8,3067.20 €,3711.31 €,3146 kWh,419 €,9 años
2,4,4,1.8,3252.20 €,3935.16 €,3146 kWh,419 €,9 años
3,4,5,1.8,3339.20 €,4040.43 €,3146 kWh,419 €,10 años
...,...,...,...,...,...,...,...,...
166,22,6,9.9,8479.10 €,10259.71 €,10486 kWh,1396 €,7 años
167,22,7,9.9,8815.10 €,10666.27 €,12233 kWh,1628 €,7 años
168,22,8,9.9,8907.10 €,10777.59 €,13981 kWh,1861 €,6 años
169,22,9,9.9,9075.10 €,10980.87 €,15728 kWh,2093 €,5 años
170,22,10,9.9,9114.10 €,11028.06 €,17301 kWh,2303 €,5 años