In [1]:
import pandas as pd # importar la librería pandas

import numpy as np # importar la librería numpy

import requests # importar la librería requests

from selenium import webdriver # Habrá que descargar el webdriver de chrome para realizar las distintas operaciones

from selenium.webdriver.support.ui import WebDriverWait # Cuando cargamos una página web a veces el HTML tarda un poco en cargarse sugún nuestra velocidad de conexión pues hasta ciertos elementos no carguen tendremos que esperar

from selenium.webdriver.support import expected_conditions as EC

from selenium.webdriver.common.by import By

from selenium.webdriver.support.ui import Select

from selenium.webdriver.common.keys import Keys

from selenium.webdriver.common.action_chains import ActionChains

import time

import os

from geopy.geocoders import Nominatim

import time

import math

from IPython.display import Javascript

import warnings

warnings.filterwarnings('ignore')

In [2]:
options = webdriver.ChromeOptions()

options.add_argument("--start-maximized")

options.add_argument("--disable-extensions")

driver_path = '/Users/mohamedelmarraki/ironhack/Final-Project/chromedriver'

driver = webdriver.Chrome(driver_path, chrome_options = options)

driver.get("https://precioinstalacionplacassolares.com/")

WebDriverWait(driver, 5)\
    .until(EC.element_to_be_clickable((By.XPATH, "//*[@id='portfolio-tabs-navigation']")))\
    .click()


WebDriverWait(driver, 5)\
    .until(EC.element_to_be_clickable((By.XPATH, "//*[@id='portfolio-tabs-navigation']/option[2]")))\
    .click()



lista1 = []
for i in range(4,23):
    for y in range(2,11):
        driver.execute_script(f"return document.getElementById('entry').setAttribute('value', {i})")
        driver.execute_script("return document.getElementById('entry').dispatchEvent(new Event('input'))")
        driver.execute_script(f"return document.getElementById('entry2').setAttribute('value', {y})")
        driver.execute_script("return document.getElementById('entry2').dispatchEvent(new Event('input'))")
        lista1.append(driver.find_element_by_xpath("//*[@id='portfolio-card-one']/div").text)
        
lista2 = []
for i in range(4,23):
    for y in range(2, 11):
        driver.execute_script(f"return document.getElementById('entry').setAttribute('value', {i})")
        driver.execute_script("return document.getElementById('entry').dispatchEvent(new Event('input'))")
        lista2.append(driver.find_element_by_xpath("//*[@id='pintar3']").text)

In [3]:
df1 = pd.DataFrame(lista2, columns=["Potencia del Generador Fotovoltaico"])
df1

    Potencia del Generador Fotovoltaico
0                                  1.80
1                                  1.80
2                                  1.80
3                                  1.80
4                                  1.80
..                                  ...
166                                9.90
167                                9.90
168                                9.90
169                                9.90
170                                9.90

[171 rows x 1 columns]

In [8]:
lista3 = []
for i in lista1:
    lista3.append(i.split("\n"))

In [9]:
df2 = pd.DataFrame(lista3).rename(columns={1:"Importe del presupuesto", 3:"Total (21% IVA incluido)",
                                          6:"Producción anual", 
                                          8:"Ahorro anual", 10:"Amortización de la inversión"})

In [10]:
df2.drop([0, 2, 4, 5, 7, 9, 11], axis=1, inplace= True)
df2

,Importe del presupuesto,Total (21% IVA incluido),Producción anual,Ahorro anual,Amortización de la inversión
0,2947.20 €,3566.11 €,3146 kWh,419 €,9 años
1,3067.20 €,3711.31 €,3146 kWh,419 €,9 años
2,3252.20 €,3935.16 €,3146 kWh,419 €,9 años
3,3339.20 €,4040.43 €,3146 kWh,419 €,10 años
4,3495.20 €,4229.19 €,3146 kWh,419 €,10 años
...,...,...,...,...,...
166,8479.10 €,10259.71 €,10486 kWh,1396 €,7 años
167,8815.10 €,10666.27 €,12233 kWh,1628 €,7 años
168,8907.10 €,10777.59 €,13981 kWh,1861 €,6 años
169,9075.10 €,10980.87 €,15728 kWh,2093 €,5 años
170,9114.10 €,11028.06 €,17301 kWh,2303 €,5 años

In [11]:
lista4 = []
for i in range(4, 23):
    for y in range(2, 11):
        lista4.append([i, y])

In [12]:
df3 = pd.DataFrame(lista4, columns=["Número de paneles", "Potencia del Inversor"])

In [13]:
df_concat = pd.concat([df3, df1, df2], axis=1)

In [16]:
df_concat.to_csv("../data/Datos de amortización.csv")

In [20]:
df = pd.read_csv("../data/Datos de amortización.csv")
df

,Número de paneles,Potencia del Inversor,Potencia del Generador Fotovoltaico,Importe del presupuesto,Total (21% IVA incluido),Producción anual,Ahorro anual,Amortización de la inversión
0,4,2,1.8,2947.20 €,3566.11 €,3146 kWh,419 €,9 años
1,4,3,1.8,3067.20 €,3711.31 €,3146 kWh,419 €,9 años
2,4,4,1.8,3252.20 €,3935.16 €,3146 kWh,419 €,9 años
3,4,5,1.8,3339.20 €,4040.43 €,3146 kWh,419 €,10 años
4,4,6,1.8,3495.20 €,4229.19 €,3146 kWh,419 €,10 años
...,...,...,...,...,...,...,...,...
166,22,6,9.9,8479.10 €,10259.71 €,10486 kWh,1396 €,7 años
167,22,7,9.9,8815.10 €,10666.27 €,12233 kWh,1628 €,7 años
168,22,8,9.9,8907.10 €,10777.59 €,13981 kWh,1861 €,6 años
169,22,9,9.9,9075.10 €,10980.87 €,15728 kWh,2093 €,5 años
170,22,10,9.9,9114.10 €,11028.06 €,17301 kWh,2303 €,5 años